@import "tailwindcss";

/* Inter normal (variable) */
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Inter italic (variable) */
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Aplicação global */
@layer base {
  html {
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
  }
}

/* ================================
   TEMA CLARO (default)
================================ */
:root {
  --scrollbar-track: #e5e5e5;
  --scrollbar-thumb: #ffe600;
  --scrollbar-thumb-hover: #006aff;
}

/* ================================
   TEMA ESCURO
================================ */


html.dark {
  --scrollbar-track: #131415;
  --scrollbar-thumb: #a0189b;
  --scrollbar-thumb-hover: #006aff;
}

/* ================================
   SCROLLBAR
================================ */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}